go 1.25.1

use (
	./pkg/apierrors
	./pkg/cache
	./pkg/circuitbreaker
	./pkg/config
	./pkg/database
	./pkg/dburl
	./pkg/errorreporting
	./pkg/errors
	./pkg/events
	./pkg/eventstore
	./pkg/http
	./pkg/httpclient
	./pkg/idempotency
	./pkg/logger
	./pkg/middleware
	./pkg/noop
	./pkg/pagination
	./pkg/serviceclient
	./pkg/supabaseauth
	./pkg/telemetry
	./services/adscenter
	./services/affiliate
	./services/aicore
	./services/bff
	./services/console
	./services/gateway-middleware
	./services/projector
	./services/recommendations
	./services/siterank
	./services/useractivity
)
